# Contents of `.github/CODEOWNERS`
# This makes you the owner of the CODEOWNERS file itself.
/.github/CODEOWNERS @cookingconvertertools-web

# This rule makes you the owner of all other files in the repository.
* @cookingconvertertools-web